
.navbar {
  background-color: transparent;
}
.top-nav-collapse {
  background-color: #4285F4;
}
@media only screen and (max-width: 768px) {
  .navbar {
      background-color: #4285F4;
  }
}
.navbar-default, .navbar-custom{
  font-family: Changa,sans-serif;
  font-size: 14px !important;
  color: white;
  
}
.nav, .navbar{
  color: white;
}
