@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");

.image{
    padding: 0;
    margin: 0;
   
   
}
#portfolio{
    background-color: #48466d;
    
}

.heading{
    font-weight: bold;
    margin: auto;
    
    font-family:  "Montserrat", sans-serif;
    /* font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
}
#portfolio h3{
    color: white;
    font-family:  "Montserrat", sans-serif;
}
.portfolio-header{
    font-family:  "Montserrat", sans-serif;
    background-image: url("images/code1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    padding: 150px 0 140px 0;
      
}


.text-description{
    font-family: "montstrrat";
    background-color: #6cbbb3;
    margin-top: 0px;
    padding: 30px;
    font-size: 22px;
}
.text-description button{
    border-radius: 10px;
    border:none;
}
.text-description button:hover{
    color: red;
}
.box{
    margin-bottom: 30px;
}