.mt-4{
    color:rgb(14, 21, 124);
}
.contact-button{
    background-color:rgb(14, 21, 124);
}
.contact-header{
    background-image: url("images/th.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    padding: 100px 0 100px 0;
}
.contact{
    margin: 20px;
}